@import '../desktop';

& {
    div {
        flex-wrap: wrap;
        width: px(932);

        & > div {
            margin-bottom: px(112);
        }
    }

    a {
        margin-top: px(-42);
    }
}
