@import '../../theme/palette';

$color1: $paletteColor3;
$color2: $paletteColor4;
$color3: $paletteColor1;
$color4: $paletteColor2;
$color5: $paletteColor5;
$color6: $paletteColor6;
$color7: $paletteColor7;
