& {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: px(200) 0 px(60);
    padding: 0 px(498);
    border-top: px(8) solid $color2;
    color: $color1;
    font-family: 'Montserrat', Arial, sans-serif;

    h3 {
        margin: px(76) px(8) 0 0;
        color: $color2;
        font-size: px(34);
    }

    h5 {
        margin: px(78) 0 0 px(10);
        font-size: px(28);
        text-align: center;
    }

    div {
        ul {
            margin: px(32) px(12) px(4);
            font-family: 'Roboto', Arial, sans-serif;

            li {
                margin-bottom: px(22);

                a {
                    display: block;
                    color: $color1;
                    font-size: px(28);
                    text-decoration: none;
                }
            }
        }
    }

    .designedBy {
        margin-top: px(78);
        margin-left: px(564);

        p {
            margin: 0 0 px(16) px(60);
            color: $color3;
            font-size: px(20);
            letter-spacing: px(1.8);
            text-align: center;
            text-transform: uppercase;
        }

        a {
            display: block;
            margin-bottom: px(36);
        }
    }
}
